
.tweeter {
  border: 1px #eee solid;
  width: 400px;
  margin-top: 10px;
  border-radius: 5px;
}

.tweeter header {
  width: 100%;
  background-color: #eee;
}

.tweeter header img, .tweeter header h3 {
  display: inline-flex;
  color: #07505e;
  padding: 2px;
}

.tweeter header img{
  border-radius: 5px;
  margin-right: 5px;
}

.tweetBody {
  background-color: #FFF;
  padding: 30px;
  color: #000;
  padding: 10px;
}

.handler {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  color: grey;
}
.feets {
  border-top: 1px solid gray;
  padding: 10px;
  color: darkblue;
}

.on-tweet {
  border-color: #000;
}
