

.container {
  width: 100%
}
.new-tweet {
  color: #07505e;
  margin-top: 90px;
  border-radius: 10px;
  background-color: #eee;
  padding: 0.2em;
  width: 400px;
  max-width: 400px;
}

.new-tweet textarea {
  margin-top: 10px;
  padding: 5px;
  }

.new-tweet form {
  padding: 5px;
}


.negative-chars-remaining, .error {
  color: red;
}

.error {
  width: inherit;
}
.counter {
  float: right;
}

textarea {
  width: 100%;
}

.divider {
  margin-top: -20px;
  color: green;
  height: 1px;
  background-color: #000;
}

