/*

.new-tweet .h2 .container {

  width: 500px;
  top-margin: 10000px;



}



*/


.new-tweet {
  border-radius: 10px;
  background-color: #eee;
  padding: 1em;
  left-margin: 10em;
  margin: 2em;
}

.counter {
  color: black;

}

.negative-chars-remaining {
  color: red;
}

.counter {
  float: right;
}

textarea {
  width: 100%;
}





